.b-form.personal {
    max-width: 400px;
}
.b-personal-info {
    h3 {
        margin: 30px 0;
    }
}
.b-personal__main {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;
}
.b-personal__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.b-create {
    margin: 35px 0;
}

.b-personal__passport {
    margin-bottom: 30px;
}