$base-white: #ffffff;
$border-white: rgba(255, 255, 255, 0.5);
$footer-bg: #d5434e;
$red-deep: rgb(240, 0, 0);
$blue-bg: #2e74bb;
$grey: #aaaaaa;
$light-grey: #eeeeee;
$dark-grey: #666666;
$green: #21dc53;
$green: rgb(0, 185, 80);